# ## Configure 'ip' variable to bind kubernetes services on a
# ## different ip than the default iface
node-10 ansible_ssh_host=192.168.0.10 ansible_user=root
node-11 ansible_ssh_host=192.168.0.11 ansible_user=root
node-12 ansible_ssh_host=192.168.0.12 ansible_user=root
node-13 ansible_ssh_host=192.168.0.13 ansible_user=root
node-14 ansible_ssh_host=192.168.0.14 ansible_user=root

# ## configure a bastion host if your nodes are not directly reachable
# bastion ansible_ssh_host=x.x.x.x

[kube-master]
node-10
node-11
node-12

[etcd]
node-10
node-11
node-12

[kube-node]
node-10
node-11
node-12
node-13
node-14

[k8s-cluster:children]
kube-node
kube-master